<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<services>
    <service name="SampleServices.Service" behaviorConfiguration="MYServiceBehavior">
      <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      <endpoint address="net.tcp://localhost:12000/SampleServices/Service" binding="netTcpBinding" bindingConfiguration="TCPBindingDetails" contract="SampleServices.IService" behaviorConfiguration="TCPBehavior">
      </endpoint>
    </service>
  </services>-->
  <system.serviceModel>
    <client>
      <endpoint behaviorConfiguration="" address="http://localhost:3745/ShoppingEmporium"
                binding="webHttpBinding" 
                contract="ShoppingEmporiumService.IShoppingEmporium"/>
    </client>
    <!--<services>
      <service name="ShoppingEmporiumService.ShoppingEmporium">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
                  binding="webHttpBinding"
                  contract="ShoppingEmporiumService.IShoppingEmporium" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ShoppingEmporium" />
          </baseAddresses>
        </host>
      </service>
    </services>-->
  </system.serviceModel>
</configuration>